<!DOCTYPE html>
<html lang="ru" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{
      site.title }}{% endif %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/styles.css' | relative_url }}"
    />
    <link
      rel="icon"
      href="{{ '/favicon.ico' | relative_url }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/assets/images/favicon-32x32.png' | relative_url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/assets/images/favicon-16x16.png' | relative_url }}"
    />
  </head>
  <body class="flex flex-col min-h-full">
    {% include header.html %} {% include navigation.html %}

    <div class="bg-primary-orange py-4">
      <h1 class="text-3xl font-bold text-center text-white mb-2">
        {{ page.title }}
      </h1>
      {% if page.subtitle %}
      <h2 class="text-2xl text-center text-white">{{ page.subtitle }}</h2>
      {% endif %}
    </div>

    <main class="flex-grow">{{ content }}</main>

    {% include footer.html %}
  </body>
</html>
